Brotli==1.1.0
inflate64==1.0.1
multivolumefile==0.2.3
patool==3.1.0
psutil==6.1.1
py7zr==0.22.0
pybcj==1.0.3
pycryptodomex==3.21.0
pyppmd==1.1.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
pyzipper==0.3.6
pyzstd==0.16.2
rarfile==4.2
texttable==1.7.0
