# {{ app_name }}
Версия: {{ app_version }}

<p align="center">
    <img src="{{ screenshot_mac }}">
</p>
<p align="center">
    <img src="{{ screenshot_win }}">
</p>

## На данный момент поддерживается
1. Разархивировать .7z, .zip, .rar (требуется установка brew install rar)
2. Архивировать .7z, .zip, .rar (требуется установка brew install unrar) с паролем и без пароля

## Сборка с помощью pyinstaller:
macOS:
* pyinstaller --windowed --name="{{ app_name }}" --icon="{{ mac_icon_path }}" {{ app_py }}

Windows:
* pyinstaller --onefile --windowed --name="{{ app_name }}" --add-data="{{ win_icon_path }};." --icon="{{ win_icon_path }}" {{ app_py }}
